/* Carousel */
.carousel {
    box-shadow: 0 0 15px black;
}

#myIntro {
    margin-top: 25px;
}

.legend-item h4 {
    font-weight: bold;
}

#chartContainer {
    max-width: 90%;
}

#keyboard h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.carousel-image span img{
    min-width: 100%;
    max-height: 200;
}

.container .carousel-caption {
    background: rgba(34, 34, 34, 0.5);
    margin-bottom: 20%;
}

.container .carousel-caption .lead{
    color: #ffffff;
}

.main-banner-image-caption {
    left: 50%;
    right: 5%;
}